.resultsPage {
  background-color: black;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2%;
  position: relative;
  height: 100%;
  width: 100vw;
}

.final {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  margin: 2%;
  padding: 0;
}

li {
  list-style-type: none;
}

.zoomIn {
  background: rgba(255,255,255,0.9);
  z-index: 100;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: center; 
  align-items: center;
  img {
    justify-self: center;
  }
}

@media (max-width: 720px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .zoomIn {
    padding: 10%;
  }
}

@media (max-width: 510px) {
  ul {
    grid-template-columns: 1fr;
  }
}



