.mainPage, .inputPage, .resultsPage {
  height: 100vh;
  width: 100vw;
}

.mainPage {
  background-color: royalblue;
}

.inputPage {
  background-color: lightblue
}

.resultsPage {
  background-color: seagreen;
}

h1, h2, h3 {
  margin: 0;
}